# H1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List Popular languages for Data Science
- Commonly used libraries used by data scientists
- Data science tools

Some of the popular languages that Data Scientists use are:

1. Java
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Scrapy
3. Keras

| Data Science Tools |
|--------------------|
| Anaconda           |
| Jupyter Notebooks  |
| PyCharm            |

# H3 Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

# H2 Author

Tala